.root {
  background-color: var(--bg-dark);
  color: var(--font-color);
  border-radius: 12px 12px 0 0;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 12px;
}

.root ul {
  flex: 1;
  vertical-align: top;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.menuItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 10px;
  gap: 2px;
  color: var(--font-color);
  width: 70px;
  opacity: 0.6;
}

.menuItem img {
  max-width: 20px;
}

.active {
  color: white;
  opacity: 1;
}
