.root {
  background-color: #3b3b31;
  border-radius: 20px;
  padding: 10px;
  padding-right: 40px;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}
.arrow {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  width: 12px;
}
