.root {
  background-color: #313131;
  border-radius: 7px;
  padding: 10px;
  padding-right: 40px;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
  height: 110px;
}
.root:active {
  transform: scale(0.98);
}
